 {{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}

<h3>
	<span class="fa fa-dashboard"></span> {{ __('Informations')}}
</h3>
<div class="container-fluid"></div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
