<h2>
    <span class="fa fa-list"></span>
    {{  p.__('About')}}
</h2>
<h1> {{ page.title }} </h2>
<div class="container-fluid"> 
       <div class="col-md-12" >          
           {%for image in page.images %}
              <div class="col-md-4">
                <div class="col-md-12 thumbnail">
                {% if image.path %}        
                <img src="{{ app.request.scheme ~ '://' ~ app.request.host ~ '/web/uploads/documents/' ~ image.path}}" />
                {% endif %}
                </div>
              </div>  
           {% endfor %}              
        </div>      
    {{ page.content|raw }}               
</div>
