.simplebox {
	background:none;
	padding-left:0px;
  	outline: none;
  	border: none !important;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
}

   .panel-transparent {
        background: none;
    }

    .panel-transparent .panel-heading{
        background: rgba(122, 130, 136, 0.2)!important;
    }

    .panel-transparent .panel-body{
        background: rgba(46, 51, 56, 0.2)!important;
    }

#mceu_23 { float: right; }

.online-0 {
	background-color: #777;
}

.online-1 {
	background-color: #5cb85c;	
}

.depot-0 {
	background-color: #5cb85c;
}

.depot-1 {
	background-color: #777;
}

.inlist-0 {
	background-color: #777;
}

.inlist-1 {
	background-color: #5cb85c;
}

.inmenu-0 {
	background-color: #777;
}

.inmenu-1 {
	background-color: #5cb85c;
}

.language-any, .language-pl, .language-en {
	background-color: #777;
}

.layout-default, .layout-slider {
	background-color: #777;
}