.simplebox {
	background:none;
	padding-left:0px;
  	outline: none;
  	border: none !important;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
}